@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lugrasimo&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
*{
    

    font-family: 'Inter', sans-serif;
    font-size :15px;
  }


.bannerBgImage{
    height: 100vh;
    background: url(images/image1.jpg);
    background-size: cover;
    position: relative;
}
.bannerBgImage:hover{
    background-size: 200%;
}

.bannerText{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color:rgb(212, 198, 36);
}

.bannerTitle{
    font-size:4rem;

}
.bannerDesc{
    font-size: 2rem;
}
.card{
    cursor: pointer;

}
.card:hover{
    background-color:rgb(197, 188, 223);
    border: 2px solid rgb(197, 103, 172);
}
.BIcon{
    width: 100%;
    text-align: center;
    font-size: 40px;;
}
.img-fluid:hover:hover{
    border: 2px solid yellowgreen;
}
.card-img-top{
    height: 50vh;
}
*{
    
}